<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QuestionList</key>
	<array>
		<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000001</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>この中で醸造酒でないものはどれですか</string>
		<key>select1</key>
		<string>ビール</string>
		<key>select2</key>
		<string>紹興酒</string>
		<key>select3</key>
		<string>白酒(パイチュウ)</string>
		<key>select4</key>
		<string>ワイン</string>
		<key>ans</key>
		<string>3</string>
		<key>resulte</key>
		<string>白酒は中国の蒸留酒ですね。日本の焼酎に少し近い感じでしょうか。アルコール度数で、醸造か蒸留かを見極めて！</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000002</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>国別ワイン生産量（2011年統計)順位２位３位４位の順番で正しいものはどれですか</string>
		<key>select1</key>
		<string>フランスースペインーアメリカ</string>
		<key>select2</key>
		<string>イタリアーアルゼンチンーアメリカ</string>
		<key>select3</key>
		<string>イタリアースペインーアメリカ</string>
		<key>select4</key>
		<string>フランスースペインーアルゼンチン</string>
		<key>ans</key>
		<string>3</string>
		<key>resulte</key>
		<string>生産量は毎年変化してるので最新のソムリエ教本を確認して下さい。出題頻度も高いです。特に１位２位のフランスイタリアは僅差でよく入れ替わります。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000003</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>世界のブドウ栽培面積に近いものはどれですか</string>
		<key>select1</key>
		<string>約７５万ha</string>
		<key>select2</key>
		<string>約750万ha</string>
		<key>select3</key>
		<string>約7500万ha</string>
		<key>select4</key>
		<string>約7.5万ha</string>
		<key>ans</key>
		<string>2</string>
		<key>resulte</key>
		<string>頻出です。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000004</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>世界のブドウ収穫量に近いものはどれですか</string>
		<key>select1</key>
		<string>約７、２万トン</string>
		<key>select2</key>
		<string>約７２万トン</string>
		<key>select3</key>
		<string>約７２０万トン</string>
		<key>select4</key>
		<string>約７２００万トン</string>
		<key>ans</key>
		<string>4</string>
		<key>resulte</key>
		<string>頻出です。問５の面積は数字が３つ。収穫量は数字が４つ。三面鏡！と片方覚えると楽になります。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000005</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>国別一人当たりの年間ワイン消費量２位はどれですか</string>
		<key>select1</key>
		<string>フランス</string>
		<key>select2</key>
		<string>ルクセンブルク</string>
		<key>select3</key>
		<string>ポルトガル</string>
		<key>select4</key>
		<string>イタリア</string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>ルクセンブルクが１位です。ルクセンブルクはとても小さな観光国なので観光客の消費量も多く１位になるのでは？と思います。(個人の推測ですが)</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000006</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>この４つの中でワイン生産量が１番多いものはどれですか</string>
		<key>select1</key>
		<string>中国</string>
		<key>select2</key>
		<string>オーストラリア</string>
		<key>select3</key>
		<string>南アフリカ</string>
		<key>select4</key>
		<string>チリ</string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>中国ーオーストラリアーチリー南アフリカの順です。(2011年）毎年変化あるので必ず最新情報を確認して下さい。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000007</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>酵母による発酵のメカニズムを解明した人物名はどれですか</string>
		<key>select1</key>
		<string>アリエノール・ダキテーヌ</string>
		<key>select2</key>
		<string>フェルディナント・エクスレ</string>
		<key>select3</key>
		<string>ジョゼフ・ルイ・ゲイリュサック</string>
		<key>select4</key>
		<string>ルイ・パストゥール</string>
		<key>ans</key>
		<string>4</string>
		<key>resulte</key>
		<string>覚えにくいですが、頻出です。ルイで混同しないように、酵母はパス！って覚えよう！</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000008</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>発酵による化学式を示した人物名はどれですか</string>
		<key>select1</key>
		<string>ジョゼフ・ルイ・ゲイリュサック</string>
		<key>select2</key>
		<string>アリエノール・ダキテーヌ</string>
		<key>select3</key>
		<string>ルイ・パストゥール</string>
		<key>select4</key>
		<string>フェルディナント・エクスレ</string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>これも覚えにくいですね。リュック背負った化学者、というイメージで！エクスレはドイツのエクスレ度の開発者で必須。ダキテーヌはボルドーが英国領になるきっかけの人(そんなに出ない)</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000009</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>アルコールの発酵は、ブドウ糖や果糖を何と何に発酵変化させますか？正しい物はどれですか</string>
		<key>select1</key>
		<string>酵母とエチルアルコール</string>
		<key>select2</key>
		<string>エチルアルコールと二酸化炭素</string>
		<key>select3</key>
		<string>エチルアルコールと酸素</string>
		<key>select4</key>
		<string>二酸化炭素と酵母</string>
		<key>ans</key>
		<string>2</string>
		<key>resulte</key>
		<string>エチルアルコールと二酸化炭素、アルコールが作られる時はブクブクします。それが二酸化炭素！必須です。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000010</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>ワインの有機酸で発酵によって生成される酸でないものはどれですか</string>
		<key>select1</key>
		<string>コハク酸</string>
		<key>select2</key>
		<string>乳酸</string>
		<key>select3</key>
		<string>クエン酸</string>
		<key>select4</key>
		<string>酢酸</string>
		<key>ans</key>
		<string>3</string>
		<key>resulte</key>
		<string>クエン酸はブドプに由来する酸。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000011</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>貴腐ワインに含まれる酸はどれですか</string>
		<key>select1</key>
		<string>乳酸</string>
		<key>select2</key>
		<string>コハク酸</string>
		<key>select3</key>
		<string>クエン酸</string>
		<key>select4</key>
		<string>ガラクチュロン酸</string>
		<key>ans</key>
		<string>4</string>
		<key>resulte</key>
		<string>他にグルコン酸も含まれます。覚えなきゃいけない８つの有機酸のうち、ガ行の２つが貴腐ワイン関連です！</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000012</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>この中でワインの中で最も含有量が多い有機酸のはどれですか</string>
		<key>select1</key>
		<string>酒石酸</string>
		<key>select2</key>
		<string>クエン酸</string>
		<key>select3</key>
		<string>乳案</string>
		<key>select4</key>
		<string>酢酸</string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>酒石酸はカリウム等と結合して酒石として析出されます。たまにワインボトルの底でキラキラカリカリしてるあいつです。なめるとほんのちょっと酸っぱいです。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000013</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>ブドウに由来する酸でないものはどれですか</string>
		<key>select1</key>
		<string>乳酸</string>
		<key>select2</key>
		<string>酒石酸</string>
		<key>select3</key>
		<string>リンゴ酸</string>
		<key>select4</key>
		<string>クエン酸</string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>有機酸の分類では、ブドウ由来と発酵の２つをきちんと分けて覚えて。ゴロは、「ブドウ好きなシュレック」で。シュレック（酒リク）。片方を完璧に覚えればOK</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000014</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>ワインの平均のpHはどれですか</string>
		<key>select1</key>
		<string>pH２．０〜pH３．９</string>
		<key>select2</key>
		<string>pH２．９〜pH３．６</string>
		<key>select3</key>
		<string>pH３．９〜pH４．６</string>
		<key>select4</key>
		<string>pH３．０〜pH４．９</string>
		<key>ans</key>
		<string>2</string>
		<key>resulte</key>
		<string>数字に注意</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000015</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>フレンチパラドックスとは動物性脂肪酸を多量に接種してもワインを飲んでいれば何のリスクが上がらないと言われているか。</string>
		<key>select1</key>
		<string>慢性疲労</string>
		<key>select2</key>
		<string>成人病</string>
		<key>select3</key>
		<string>虚血性脳腫瘍</string>
		<key>select4</key>
		<string>虚血性心疾患</string>
		<key>ans</key>
		<string>4</string>
		<key>resulte</key>
		<string>通常は動物性脂肪酸の摂取量と虚血性心疾患は比例するのに逆になるのがフレンチパラドックス。お肉を食べたらワインを飲もう！</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000016</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>リベラトロールの説明として誤っているものはどれですか</string>
		<key>select1</key>
		<string>ポリフェノールの１種である</string>
		<key>select2</key>
		<string>白ワインに多く含まれる</string>
		<key>select3</key>
		<string>果皮に多く含まれる</string>
		<key>select4</key>
		<string>ファイトアレキシンの一種</string>
		<key>ans</key>
		<string>2</string>
		<key>resulte</key>
		<string>白にも含まれるという報告もあるが、基本は赤に多く含まれています。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000017</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>リベラトロールの効用として誤っているものはどれですか</string>
		<key>select1</key>
		<string>関節痛の軽減</string>
		<key>select2</key>
		<string>LDL酸化抑制作用</string>
		<key>select3</key>
		<string>抗がん作用</string>
		<key>select4</key>
		<string>アルツハイマー予防</string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>リベラトロールは最近話題ですので覚えましょう。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000018</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>白ワインの効用として誤っているのはどれですか</string>
		<key>select1</key>
		<string>整腸作用</string>
		<key>select2</key>
		<string>動脈硬化症のリスク減少</string>
		<key>select3</key>
		<string>利尿作用</string>
		<key>select4</key>
		<string>殺菌作用</string>
		<key>ans</key>
		<string>2</string>
		<key>resulte</key>
		<string>②は赤ワインの効用</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000019</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>この４つの中で仲間はずれはどれですか</string>
		<key>select1</key>
		<string>ゼクト</string>
		<key>select2</key>
		<string>スパークリングワイン</string>
		<key>select3</key>
		<string>エスプーモ</string>
		<key>select4</key>
		<string>ヴァン・ペティヤン</string>
		<key>ans</key>
		<string>4</string>
		<key>resulte</key>
		<string>①ドイツ②アメリカ等③スペインは発泡性ワイン。④フランスは弱発泡性ワイン</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000020</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>この４つの中で仲間はずれはどれですか</string>
		<key>select1</key>
		<string>ヴィーノ・フリッツァンテ</string>
		<key>select2</key>
		<string>ビノ・デ・アグーハ</string>
		<key>select3</key>
		<string>カバ</string>
		<key>select4</key>
		<string>パールヴァイン</string>
		<key>ans</key>
		<string>3</string>
		<key>resulte</key>
		<string>①イタリア②スペイン④ドイツは弱発泡性ワイン。③スペインは発泡性ワイン</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000021</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>スパークリングワイン、発泡性ワインは、一般的に何気圧以上のガス圧をもったものをいいますか</string>
		<key>select1</key>
		<string>２気圧</string>
		<key>select2</key>
		<string>３気圧</string>
		<key>select3</key>
		<string>４気圧</string>
		<key>select4</key>
		<string>５気圧</string>
		<key>ans</key>
		<string>3</string>
		<key>resulte</key>
		<string>３気圧以下は弱発泡性になる。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000022</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>トラディッショナル製法の説明として正しいものはどれですか</string>
		<key>select1</key>
		<string>滓抜きは瓶ごと行う</string>
		<key>select2</key>
		<string>別の名をトランスファー・メソッドという</string>
		<key>select3</key>
		<string>低コストでの生産が可能</string>
		<key>select4</key>
		<string>醪を瓶に入れ密栓する</string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>スパークリングワインの製法は必須。正解のフランス語はデゴルジュマン。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000023</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>この方式はどれですか　「瓶内二次発酵後の発泡酒を、加圧下のタンクに移し、冷却・滓抜きしてから再度瓶に詰め替える方式」</string>
		<key>select1</key>
		<string>リュラル方式</string>
		<key>select2</key>
		<string>シャルマ方式</string>
		<key>select3</key>
		<string>トラディッショナル方式</string>
		<key>select4</key>
		<string>トランスファー方式</string>
		<key>ans</key>
		<string>4</string>
		<key>resulte</key>
		<string>シャンパーニュ方式のルミアージュとデゴルジュマンを簡略化した方式とも言える</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000024</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>この中の組み合わせで正しいのはどれですか</string>
		<key>select1</key>
		<string>スペインのポートワイン</string>
		<key>select2</key>
		<string>ポルトガルのマルサラ</string>
		<key>select3</key>
		<string>イタリアのシェリー</string>
		<key>select4</key>
		<string>ポルトガルのマディラ</string>
		<key>ans</key>
		<string>4</string>
		<key>resulte</key>
		<string>ポートワインもマディラもポルトガルだよ！</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000025</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>VDLの説明で正しいのはどちらですか</string>
		<key>select1</key>
		<string>ブドウ果汁にアルコールを添加</string>
		<key>select2</key>
		<string>発酵中にアルコールを添加</string>
		<key>select3</key>
		<string></string>
		<key>select4</key>
		<string></string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>②はVDN</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000026</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>フレーヴァードワインのレツィーナはどこの国のお酒ですか</string>
		<key>select1</key>
		<string>イタリア</string>
		<key>select2</key>
		<string>フランス</string>
		<key>select3</key>
		<string>ギリシャ</string>
		<key>select4</key>
		<string>ポルトガル</string>
		<key>ans</key>
		<string>3</string>
		<key>resulte</key>
		<string>ヴェルモット（イタリアスペイン）リレ（フランス）サングリア（スペイン）なども暗記しよう</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000027</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>この中で主に生食用ブドウはどれですか</string>
		<key>select1</key>
		<string>ヴィティス・ヴィニフェラ</string>
		<key>select2</key>
		<string>ヴィティス・アムレンシス</string>
		<key>select3</key>
		<string>ヴィティス・ラブルスカ</string>
		<key>select4</key>
		<string>ヴィティス・リパリア</string>
		<key>ans</key>
		<string>3</string>
		<key>resulte</key>
		<string>①はワイン用</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000028</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>ワイン用ブドウに最適な年間平均気温は何℃から何℃か</string>
		<key>select1</key>
		<string>10〜20℃</string>
		<key>select2</key>
		<string>10〜16℃</string>
		<key>select3</key>
		<string>16〜20℃</string>
		<key>select4</key>
		<string>10〜18℃</string>
		<key>ans</key>
		<string>2</string>
		<key>resulte</key>
		<string>一般ブドウは10〜20℃。ワイン用ブドウは10〜16℃。ちゃんと区別して覚えて</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000029</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>ワインベルトと呼ばれるワインの栽培に適した緯度はどれか</string>
		<key>select1</key>
		<string>北緯も南緯も20〜60度</string>
		<key>select2</key>
		<string>北緯も南緯も20〜50度</string>
		<key>select3</key>
		<string>北緯も南緯も30〜50度</string>
		<key>select4</key>
		<string>北緯も南緯も30〜60度</string>
		<key>ans</key>
		<string>3</string>
		<key>resulte</key>
		<string>頻出。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000030</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>ワイン用ブドウ栽培に適している条件として間違えはどれか</string>
		<key>select1</key>
		<string>開花期は10〜25℃がいい</string>
		<key>select2</key>
		<string>着色成熟期は20〜25℃がいい</string>
		<key>select3</key>
		<string>１日の温度較差がある方がいい</string>
		<key>select4</key>
		<string>年間を通じて暑い季節と寒い季節のサイクルがある方がいい</string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>開花期は15〜25℃がいい</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000031</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>ワイン用ブドウの生育に必要な日照時間ではないものはどれですか</string>
		<key>select1</key>
		<string>1100時間</string>
		<key>select2</key>
		<string>1300時間</string>
		<key>select3</key>
		<string>1500時間</string>
		<key>select4</key>
		<string>1700時間</string>
		<key>ans</key>
		<string>4</string>
		<key>resulte</key>
		<string>1000時間〜1500時間が良いとされている</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000032</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>ワイン用ブドウの栽培に良いとされている年間降雨量はどれか</string>
		<key>select1</key>
		<string>400〜600mm</string>
		<key>select2</key>
		<string>500〜800mm</string>
		<key>select3</key>
		<string>500〜900mm</string>
		<key>select4</key>
		<string>400〜900mm</string>
		<key>ans</key>
		<string>3</string>
		<key>resulte</key>
		<string>頻出。500〜900しっかり覚えて。日本でワイン用ブドウより巨峰などの食用が多いのは降雨量が多く、水分の多いブドウになりやすいからと言われてる山梨は1100〜1200mmほど。またそのため水分を遠ざける棚仕立の栽培も使われている。</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000033</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>生育サイクル、日本語とフランス語の組み合わせとして誤っているものはどれですか</string>
		<key>select1</key>
		<string>発芽・デブールマン</string>
		<key>select2</key>
		<string>蕾・フイエゾン</string>
		<key>select3</key>
		<string>開花・フロレゾン</string>
		<key>select4</key>
		<string>色付き・ヴェレゾン</string>
		<key>ans</key>
		<string>2</string>
		<key>resulte</key>
		<string>蕾はモーントル。生育のサイクルと栽培作業工程、フランス語と、その時期も合わせて暗記！</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000034</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>手摘みの長所ではないものはどれですか</string>
		<key>select1</key>
		<string>作業時間が早い</string>
		<key>select2</key>
		<string>傷つくのが防止できる</string>
		<key>select3</key>
		<string>選果ができる</string>
		<key>select4</key>
		<string>機械収穫できないところも摘める</string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>作業時間は長くなってしまう</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000035</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>これはどの仕立を説明していますか？「主に乾燥地を適地とし、南フランスやスペインで使われる。」</string>
		<key>select1</key>
		<string>ギョー・ドゥーブル</string>
		<key>select2</key>
		<string>ボーゲン</string>
		<key>select3</key>
		<string>モーゼル</string>
		<key>select4</key>
		<string>ゴブレ</string>
		<key>ans</key>
		<string>4</string>
		<key>resulte</key>
		<string>仕立て方法は頻出です。絵と合わせて覚えてね</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000036</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>日本にも多く使われる棚仕立ての効果として誤っているものはどれか</string>
		<key>select1</key>
		<string>降雨量の多い地域に適している</string>
		<key>select2</key>
		<string>ボルトガルでは使われていない</string>
		<key>select3</key>
		<string>生食用に適している</string>
		<key>select4</key>
		<string>日差しの強すぎる地域にも良い</string>
		<key>ans</key>
		<string>2</string>
		<key>resulte</key>
		<string>日本、ポルトガル、イタリア、エジプトで使われる</string>
	</dict>
	<dict>
		<key>dammy</key>
		<string>
</string>
		<key>qid</key>
		<string>1000037</string>
		<key>section</key>
		<string>練習問題</string>
		<key>category</key>
		<string>酒類飲料概論</string>
		<key>question</key>
		<string>これはどの仕立を説明していますか？「左右から２本の長梢をとり、主幹に添えた棒を中心にハート型になるようしばりつける。」</string>
		<key>select1</key>
		<string>モーゼル</string>
		<key>select2</key>
		<string>ゴブレ</string>
		<key>select3</key>
		<string>ボーゲン</string>
		<key>select4</key>
		<string>コルドン</string>
		<key>ans</key>
		<string>1</string>
		<key>resulte</key>
		<string>別名棒仕立て。主にドイツのモーゼル地方で使われる</string>
		</dict>
	</array>
</dict>
</plist>
